<div  style="width: 1200px; margin: 0 auto;  color: rgba(255, 255, 255, 0.712); background-color:rgba(5, 5, 5, 0.692); padding:10px;  ">
    <h1 style="color: aliceblue; " class="mt-4">{{postagem.titulo}}</h1>
    <hr>
    <p>{{postagem.conteudo}}</p>
    <hr>
    <small>Categoria: {{postagem.categoria.nome}}</small><br>
    <small>Slug: {{postagem.slug}}</small><br>
    <small>Data de criação: {{postagem.data}}</small>
</div>